* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.memory-game {
  width: 640px;
  height: 100%;
  margin: 1vh auto;
  display: grid;
  justify-items: center;
  align-content: center;
  grid: repeat(4, 1fr) / repeat(2, 1fr);
  gap: 20px;
  perspective: 500px;
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

.card {
  height: 160px;
  width: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px (0, 0, 0, 0.3);
  transform: scale(1);
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: darkgrey;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}

.equals {
  box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.5);
  border: 0.5 double green;
  transition: box-shadow 1.5s ease;
}

@media screen and (min-width: 700px) {
  .memory-game {
    grid: repeat(3, 1fr) / repeat(4, 1fr);
  }
}
